SUBSYSTEMS=="usb", ACTION=="add", DRIVERS=="pl2303", ENV{DEVNAME}!="", RUN+="/usr/bin/stty -F $env{DEVNAME} 115200"
SUBSYSTEMS=="usb", ACTION=="add", DRIVERS=="pl2303", ENV{DEVNAME}!="", RUN+="/usr/src/parportser/load.sh $env{DEVNAME}"
SUBSYSTEM=="tty", ACTION=="remove", ENV{ID_VENDOR_ID}=="067b", ENV{ID_MODEL_ID}=="2303", RUN+="/usr/sbin/rmmod parportser"

